In [1]:
import pandas as pd
import os

In [2]:
main_path="C:\\Users\\Annie\\Documents\\GitHub\\machine-learning-course\\datasets"
file_name="customer-churn-model\\Customer Churn Model.txt"
full_path= os.path.join(main_path,file_name)

In [3]:
data_raw = pd.read_csv(full_path)

In [4]:
data_raw.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Creación de un subconjunto de datos

In [5]:
account_length = data_raw["Account Length"]

In [6]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [7]:
type(account_length)

pandas.core.series.Series

In [8]:
subset_data_raw = data_raw[["Area Code","State","Eve Charge"]]

In [9]:
subset_data_raw.head()

   Area Code State  Eve Charge
0        415    KS       16.78
1        415    OH       16.62
2        415    NJ       10.30
3        408    OH        5.26
4        415    OK       12.61

In [10]:
type(subset_data_raw)

pandas.core.frame.DataFrame

In [11]:
desired_columns = ["State","Phone","Night Calls"]

In [12]:
subset_data_raw= data_raw[desired_columns]

In [13]:
subset_data_raw.head()

  State     Phone  Night Calls
0    KS  382-4657           91
1    OH  371-7191          103
2    NJ  358-1921          104
3    OH  375-9999           89
4    OK  330-6626          121

In [14]:
desired_columns = ["State","Phone","Night Calls","Intl Calls"]
desired_columns

['State', 'Phone', 'Night Calls', 'Intl Calls']

In [15]:
all_columns_list = data_raw.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [16]:
sublist = [ col for col in all_columns_list if col not in desired_columns]

In [17]:
sublist

['Account Length',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Charge',
 'Intl Mins',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [21]:
subset_desired = data_raw[sublist]
subset_desired

,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Charge,Intl Mins,Intl Charge,CustServ Calls,Churn?
0,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,11.01,10.0,2.70,1,False.
1,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,11.45,13.7,3.70,1,False.
2,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,7.32,12.2,3.29,0,False.
3,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,8.86,6.6,1.78,2,False.
4,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,8.41,10.1,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,415,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,12.56,9.9,2.67,2,False.
3329,68,415,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,8.61,9.6,2.59,3,False.
3330,28,510,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,8.64,14.1,3.81,2,False.
3331,184,510,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,6.26,5.0,1.35,2,False.
3332,74,415,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,10.86,13.7,3.70,0,False.