In [79]:
import pandas as pd
import numpy as np
import os

In [2]:
main_path="C:\\Users\\Annie\\Documents\\GitHub\\machine-learning-course\\datasets"
file_name="customer-churn-model\\Customer Churn Model.txt"
full_path= os.path.join(main_path,file_name)

In [3]:
data_raw = pd.read_csv(full_path)

In [4]:
data_raw.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Creación de un subconjunto de datos

In [5]:
account_length = data_raw["Account Length"]

In [6]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [7]:
type(account_length)

pandas.core.series.Series

In [8]:
subset_data_raw = data_raw[["Area Code","State","Eve Charge"]]

In [9]:
subset_data_raw.head()

   Area Code State  Eve Charge
0        415    KS       16.78
1        415    OH       16.62
2        415    NJ       10.30
3        408    OH        5.26
4        415    OK       12.61

In [10]:
type(subset_data_raw)

pandas.core.frame.DataFrame

In [11]:
desired_columns = ["State","Phone","Night Calls"]

In [12]:
subset_data_raw= data_raw[desired_columns]

In [13]:
subset_data_raw.head()

  State     Phone  Night Calls
0    KS  382-4657           91
1    OH  371-7191          103
2    NJ  358-1921          104
3    OH  375-9999           89
4    OK  330-6626          121

In [14]:
desired_columns = ["State","Phone","Night Calls","Intl Calls"]
desired_columns

['State', 'Phone', 'Night Calls', 'Intl Calls']

In [15]:
all_columns_list = data_raw.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [16]:
sublist = [ col for col in all_columns_list if col not in desired_columns]

In [17]:
sublist

['Account Length',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Charge',
 'Intl Mins',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [18]:
subset_desired = data_raw[sublist]
subset_desired

,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Charge,Intl Mins,Intl Charge,CustServ Calls,Churn?
0,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,11.01,10.0,2.70,1,False.
1,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,11.45,13.7,3.70,1,False.
2,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,7.32,12.2,3.29,0,False.
3,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,8.86,6.6,1.78,2,False.
4,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,8.41,10.1,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,415,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,12.56,9.9,2.67,2,False.
3329,68,415,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,8.61,9.6,2.59,3,False.
3330,28,510,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,8.64,14.1,3.81,2,False.
3331,184,510,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,6.26,5.0,1.35,2,False.
3332,74,415,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,10.86,13.7,3.70,0,False.

In [19]:
    a = set(desired_columns)
    b = set(all_columns_list)
    sublist = b-a
    sublist = list(sublist)

In [20]:
# Extrayendo x no. de filas:

In [21]:
data_raw[5:21]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False.

In [22]:
data_raw[:10]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.

## Filtrando filas con condición

Usuarios con Day Mins > x

In [32]:
data_c1 = data_raw[data_raw["Day Mins"]>300]
data_c1.shape

(43, 21)

In [28]:
data_c2= data_raw[data_raw["State"]== "NY"]
data_c2.shape

(83, 21)

In [25]:
## Concatenación de operaciones booleanas
    ##AND->& OR->|

In [30]:
data_c3 = data_raw[(data_raw["Day Mins"]>300) & (data_raw["State"]== "NY")]
data_c3.shape

(2, 21)

In [34]:
data_c4 = data_raw[(data_raw["Day Mins"]>300) | (data_raw["State"]== "NY")]
data_c4.shape

(124, 21)

In [38]:
date_c5 = data_raw[(data_raw["Day Calls"])<(data_raw["Night Calls"])]
date_c5.shape

(1626, 21)

In [39]:
date_c6 = data_raw[(data_raw["Day Mins"])<(data_raw["Night Mins"])]
date_c6.shape

(2051, 21)

In [40]:
## Day Mins, Night Mins and Account Length from the first 50 items

In [56]:
subset_first_50 = data_raw[:50][["Day Mins","Night Mins","Account Length"]]
subset_first_50.shape

(50, 3)

In [62]:
## .iloc for positional indexing. Filtra filas y columnas deseadas
## .loc for label based indexing

In [61]:
data_raw.iloc[1:11,3:6]

       Phone Int'l Plan VMail Plan
1   371-7191         no        yes
2   358-1921         no         no
3   375-9999        yes         no
4   330-6626        yes         no
5   391-8027        yes         no
6   355-9993         no        yes
7   329-9001        yes         no
8   335-4719         no         no
9   330-8173        yes        yes
10  329-6603         no         no

In [70]:
data_raw.loc[[1,5],["Phone"]]

      Phone
1  371-7191
5  391-8027

In [72]:
data_raw.iloc[1:6,[5,2,3]]

  VMail Plan  Area Code     Phone
1        yes        415  371-7191
2         no        415  358-1921
3         no        408  375-9999
4         no        415  330-6626
5         no        510  391-8027

In [73]:
## Adding columns

In [77]:
data_raw["Total Mins"] = data_raw["Day Mins"] + data_raw["Eve Mins"]+ data_raw["Night Mins"]  
data_raw["Total Mins"].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [78]:
data_raw.shape

(3333, 22)

## Generación de números aleatorios

In [91]:
#La forma más clásica de generar un número aleatorio es entre 0 y 1 reales
np.random.random()

0.42096519885030814

In [92]:
# Aleatorio entero
np.random.randint(0,100)

56